# ============================================================
# Python
# ============================================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/

# ============================================================
# Virtual environments
# ============================================================
.venv/
venv/
env/

# ============================================================
# Environment files
# ============================================================
.env

# ============================================================
# Data files
# ============================================================
data/**/*.csv
data/**/*.parquet
data/**/*.xlsx
data/**/*.json
!data/**/.gitkeep

# ============================================================
# Reports generated locally
# ============================================================
reports/html/*.html
reports/figures/*.png
reports/figures/*.jpg
reports/figures/*.jpeg
reports/figures/*.svg
!reports/html/.gitkeep
!reports/figures/.gitkeep

# ============================================================
# notebooks locally
# ============================================================
notebooks/my-template-v10.tpl
x_export_to_html.ipynb

# ============================================================
# OS / IDE
# ============================================================
.DS_Store
Thumbs.db
.vscode/
