.venv/
__pycache__/
.ipynb_checkpoints/
.env

data/raw/*
data/bronze/*
data/silver/*
data/gold/*
data/exports/*

!data/raw/.gitkeep
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep
!data/exports/.gitkeep
